.discogs-submitter {
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: start;
  visibility: hidden;
  opacity: 0;
  z-index: 999999;
  transition: all 0.5s ease;
  box-shadow: 0 0 15px rgba(var(--ds-color-black), 0.3);
  background: rgba(var(--ds-palette-primary-color), 1);
  width: calc(100% - (var(--ds-gap) * 2));
  max-width: 500px;
  overflow: hidden;
  color: rgba(var(--ds-palette-secondary-color), 1);

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(104%);
    z-index: -1;
    mask-image: linear-gradient(to bottom, rgba(var(--ds-color-black), 1) 0%, rgba(var(--ds-color-black), 0.025) 150px);
    filter: blur(4px) opacity(80%);
    background: var(--ds-thumb-url) no-repeat 50% 0;
    background-size: 100% auto;
    width: 100%;
    height: 100%;
    overflow: hidden;
    content: '';
  }

  &.is-open {
    visibility: visible;
    opacity: 1;
  }

  &.is-position-left {
    left: 0;
    transform: translateX(-100%);
    border-right: 1px solid rgba(var(--ds-palette-primary-color), 1);

    &.is-open {
      transform: translateX(0);
    }
  }

  &.is-position-right {
    right: 0;
    transform: translateX(100%);
    border-left: 1px solid rgba(var(--ds-palette-primary-color), 1);

    &.is-open {
      transform: translateX(0);
    }
  }

  &.is-webarchive {
    top: var(--wm-toolbar-height);
  }
}

.discogs-submitter__content {
  margin: 0 calc(var(--ds-gap) - 2px);
  padding: 0 2px;
  height: 100%;
  overflow: auto;
  scrollbar-color: rgba(var(--ds-palette-secondary-color), 1) transparent;
  scrollbar-width: thin;
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    width: 6px;
  }
}

@keyframes ds-spinner {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes ds-pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}
