.discogs-submitter {
  contain: layout;
  overflow: hidden;
  display: none;
  flex-direction: column;
  justify-content: start;
  gap: var(--ds-gap);
  position: fixed;
  z-index: 999999;
  top: var(--ds-gap);
  right: var(--ds-gap);
  width: calc(100% - (var(--ds-gap) * 2));
  max-width: 500px;
  padding: var(--ds-gap) var(--ds-gap) calc(var(--ds-gap) / 2);
  color: var(--ds-color-black);
  font-family: var(--ds-font-sans) !important;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2;
  text-transform: none;
  text-shadow: none;
  background: var(--ds-color-white);
  border: 2px solid var(--ds-color-gray-dark);
  border-radius: var(--ds-radius);
  outline: 2px solid var(--ds-color-white);
  opacity: 0;
  transition:
    opacity 0.5s ease,
    box-shadow 0.8s ease;

  &.is-open {
    display: flex;
    opacity: 1;
    box-shadow:
      0 0 10px rgba(0, 0, 0, 0.6),
      0 0 30px rgba(0, 0, 0, 0.8);
  }

  &.is-webarchive {
    top: calc(var(--wm-toolbar-height) + var(--ds-gap));
  }
}

.discogs-submitter__loader {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 1s ease;

  &.is-loading {
    z-index: 10;
    opacity: 1;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--ds-color-white);
    opacity: 0.75;
  }
}

.discogs-submitter__loader__icon {
  width: 70px;
  height: 70px;
  animation: ds-spinner 0.5s linear infinite;
}

.discogs-submitter__header {
  display: flex;
  align-items: center;
  gap: calc(var(--ds-gap) / 2);
  font-size: 20px;
  font-weight: 600;

  .discogs-submitter__button {
    color: var(--ds-color-black);

    &,
    &:hover {
      background: none;
    }

    &.is-move {
      cursor: grab;

      &:hover {
        color: var(--ds-color-info);
      }

      &.is-draggable {
        cursor: grabbing;
      }
    }

    &.is-close {
      &:hover {
        color: var(--ds-color-error);
      }
    }
  }
}

.discogs-submitter__header__logo {
  flex: 0 0 auto;
  width: 1.25em;
  height: 1.25em;
}

.discogs-submitter__header__title {
  margin-right: auto;

  small {
    font-size: 8px;
  }
}

.discogs-submitter__preview {
  margin: 0 calc(var(--ds-gap) * -1);
  padding: 0 var(--ds-gap);
  overflow: auto;
  max-height: 40dvh;
  scrollbar-width: thin;
  scrollbar-color: var(--ds-color-gray-dark) transparent;
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    width: 6px;
  }
}

.discogs-submitter__status {
  --status-color: var(--ds-color-gray-dark);
  overflow: hidden;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: start;
  gap: var(--ds-gap);
  margin-bottom: var(--ds-gap);
  padding: calc(var(--ds-gap) / 2);
  border-left: 4px solid var(--status-color);
  border-radius: calc(var(--ds-radius) / 2);
  transition: all 0.3s ease;

  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--status-color);
    opacity: 0.1;
    transition: all 0.3s ease;
  }

  &.is-success {
    --status-color: var(--ds-color-success);
  }

  &.is-error {
    --status-color: var(--ds-color-error);
  }

  &.is-info {
    --status-color: var(--ds-color-info);
  }

  &.is-warning {
    --status-color: var(--ds-color-warning);
  }

  .discogs-submitter__button {
    flex: 0 0 auto;
    margin-left: auto;

    &.is-debug {
      color: var(--ds-color-gray-dark);
      background: none;

      &.is-success {
        color: var(--ds-color-success);
      }

      &.is-error {
        color: var(--ds-color-error);
      }
    }
  }
}

.discogs-submitter__actions {
  display: flex;
  flex-wrap: nowrap;
  gap: var(--ds-gap);
}

.discogs-submitter__copyright {
  display: flex;
  justify-content: center;
  gap: var(--ds-gap);
  font-size: 10px;
  margin: var(--ds-gap) 0 0;
}

.discogs-submitter__copyright__link {
  color: currentColor;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  span {
    display: inline-block;
    vertical-align: middle;
    font-family: var(--ds-font-monospace);
    color: var(--ds-color-error);
    animation: ds-pulse 1s ease-in-out infinite;
  }
}

@keyframes ds-spinner {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes ds-pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}
