.discogs-submitter__loader {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--ds-gap);
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  backdrop-filter: blur(5px);
  transition: all 1s ease;
  background: rgba(var(--ds-palette-primary-color), 0.8);
  width: 100%;
  height: 100%;

  &.is-loading {
    visibility: visible;
    opacity: 1;
    z-index: 10;
  }
}

.discogs-submitter__loader__icon {
  animation: ds-spinner 0.5s linear infinite;
  width: 4em;
  height: 4em;
}

.discogs-submitter__loader__cover {
  animation: ds-pulse 2s ease-in-out infinite;
  outline: 2 solid rgba(var(--ds-palette-secondary-color), 1);
  outline-offset: 2px;
  border: 2px solid rgba(var(--ds-palette-primary-color), 1);
  border-radius: var(--ds-radius);
  background: var(--ds-thumb-url) no-repeat 50%;
  background-size: cover;
  width: 15em;
  height: 15em;
  object-fit: cover;
}

.discogs-submitter__loader__label {
  color: rgba(var(--ds-palette-secondary-color), 1);
  font-size: 12px;
}
