.discogs-submitter__button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  cursor: pointer;
  border-radius: calc(var(--ds-radius) / 4);
  background: rgba(var(--ds-palette-secondary-color), 0.1);
  padding: calc(var(--ds-gap) / 4);
  color: currentColor;
  font-weight: bold;
  user-select: none;
  text-align: center;

  &.is-icon {
    fill: currentColor;
    border: none;
    width: 1.75em;
    height: 1.75em;

    &,
    &.is-large {
      border-radius: 100%;
      padding: 0;
    }

    &:hover {
      background: rgba(var(--ds-palette-secondary-color), 1);
      color: rgba(var(--ds-palette-primary-color), 1);
    }
  }

  &.is-full {
    display: flex;
    width: 100%;
  }

  &.is-large {
    border-radius: var(--ds-radius);
    padding: calc(var(--ds-gap) / 2);
    font-size: 18px;
  }

  &.is-primary {
    background: rgba(var(--ds-color-primary), 1);
    color: rgba(var(--ds-color-white), 1);

    &:hover {
      background: rgba(var(--ds-palette-secondary-color), 1);
      color: rgba(var(--ds-palette-primary-color), 1);
    }
  }

  &.is-disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
