.discogs-submitter {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.2;
  font-family: var(--ds-font-sans) !important;
  text-shadow: none;
  text-transform: none;

  *,
  *::after,
  *::before {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
  }

  a {
    text-decoration: none;
  }

  em {
    font-style: oblique;
  }

  strong {
    font-weight: bold;
  }

  [hidden] {
    display: none !important;
  }
}
